{{ "<!-- BEGIN MAIN CONTENT -->" | safeHTML }}
<section class="main-content">
  <div class="wrapper row">
    <div class="small-12 medium-12 column content-one">
      <h1 style="font-family:arial unicode ms"><u>{{ .Site.Params.main.contentOneTitle }}</u></h1>
      <p>{{ .Site.Params.main.contentOneBody | markdownify }}</p>
    </div>
  <br /><hr />
    <div class="small-12 medium-12 column content-two" style="text-align:right">
      <h1 style="font-family:arial unicode ms"><u>{{ .Site.Params.main.contentTwoTitle }}</u></h1>
      <p>{{ .Site.Params.main.contentTwoBody | markdownify }}</p>
    </div>
  <br /><hr />
    <div class="small-12 medium-12 column content-tree">
      <h1 style="font-family:arial unicode ms"><u>{{ .Site.Params.main.contentThreeTitle }}</u></h1>
      <p>{{ .Site.Params.main.contentThreeBody | markdownify }}</p>
    </div>
  <br /><hr />

    <div class="small-12 medium-12 column content-one">
      <span style="text-align:center"><h1><u>Dialy</u></h1></span>
      <br />
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post" ) 2}}

      {{ range $paginator.Pages.ByDate.Reverse }}
      
      
      <div style="float:left; width:700px; height:200; word-wrap:break-word;">
	<a href={{ .Site.BaseURL }}/post/{{ .File.TranslationBaseName }}>					    
	  <h4><u><i>{{ .Title }}</i></u></h4>
	</a>
	
	{{ .Summary }}

      </div>
      <div style="float:left; margin-left:20px;">
	{{ with .Params.sambnail }}
	<img src="/post/image/{{ . }}" width="120" height="90" />
	{{ end }}
	<div style="clear: both;"></div>
	<div style="float:right; margin-top:30px;"><date>{{ .File.TranslationBaseName }}</date>
	</div>
      </div>
      {{end}}
      
    </div>
    <div style="float:right">
      {{ template "_internal/pagination.html" . }}
    </div>
    <div style="clear: both;"></div>
    

    
  </div>
</section> {{ "<!-- END MAIN CONTENT -->" | safeHTML }}
