<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ .Site.Title }} </title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/foundation.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon.ico">
  </head>

  <body>
    <div class="off-canvas-wrapper"> {{ "<!-- Definition of global off canvas wrapper -->" | safeHTML }}
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>	{{ "<!-- Definition of inner off canvas wrapper -->" | safeHTML }}
	
	{{ "<!-- Menu -->" | safeHTML }}
	<div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
          <ul>
	    {{ $currentNode := . }}
	    {{ range .Site.Menus.main }}
            <li><a class="nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name}}</a></li>
	    {{end}}
          </ul>
	</div>	
	
	{{ "<!-- Page Content -->" | safeHTML }}
      	<div class="off-canvas-content" data-off-canvas-content>
	  
	  {{ "<!-- Foundation Mobile Menu -->" | safeHTML }}
	  
	  <div class="titlebar show-for-small-only">
	    <div class="title-bar left">
	      <button class="menu-icon" type="button" data-open="mobile-menu"></button>
	      <span class="title-bar-title">MENU</span>
	    </div>
	  </div>

	  {{ "<!-- Partials that make up the site -->" | safeHTML }}
	  {{ partial "nav.html" . }}

	  <section class="hero-panel">
	    <div class="wrapper" style="text-align:left;">
	      <h1 style="font-family:arial unicode ms">油谷知岐（Tomoki ABURATANI）</h1>
	      <table>
		<tbody>
		  <tr>
		    <td><img src="./img/selfie.jpg" width="100" height="200" /></td>
		    <td>大阪府立大学大学院 人間社会システム科学研究科 現代システム科学専攻 知識情報システム学分野 知識システム研究室</td>
		  </tr>
		</tbody>
	    </div>
	  </section>	  

	  <section class="main-content">
	    <div class="wrapper row">
	      <div class="small-12 medium-12 column content-one">
		<h2 style="font-family:arial unicode ms"><u>研究テーマ</u></h2>
		<p>セマンティクスアウェアなプレゼン教材に基づくメタ学習の知的学習支援システム</p>
	      </div>
	      <br /><hr />
	      <div class="small-12 medium-12 column content-two" style="text-align:right">
		<h2 style="font-family:arial unicode ms"><u>興味(キーワード)</u></h2>
		<p>知的学習支援システム(ITS: Intelligent Tutoring System)，人工知能，オントロジー，セマンティックWeb，学習態度，自己調整学習，暗黙知，メタ認知，メタ学習，学習方略</p>
	      </div>
	      <br /><hr />

	      <div class="small-12 medium-12 column content-tree">
		<h2 style="font-family:arial unicode ms"><u>学歴</u></h2>
		<p>
		  <ul>
		    <li>2013年4月-2017年4月：大阪府立大学 現代システム科学域 知識情報システム学類</li>
		    <li>2017年4月-2019年3月：大阪府立大学大学院 人間社会システム科学研究科 現代システム科学専攻 知識情報システム学分野</li>
		    <li>2019年4月-   現在  ：大阪府立大学大学院 人間社会システム科学研究科 現代システム科学専攻 知識情報システム学分野 博士後期課程</li>
		  </ul>
		</p>
	      </div>
	      <br /><hr />

	      <div class="small-12 medium-12 column content-tree">
		<h2 style="font-family:arial unicode ms"><u>主な経歴（学術関係）</u></h2>
		<p>
		  <ul>
		    <li>2017年3月-2018年4月：大阪府立大学ティーチング・アシスタント（知識モデリング）</li>
		    <li>2018年3月-2019年4月：大阪府立大学ティーチング・アシスタント（知識モデリング・知識科学概論）</li>
		    <li>2019年3月-  現在   ：大阪府立大学ティーチング・アシスタント（知識モデリング・知識情報システム学演習III・プログラミング実践）</li>
		    <li>2019年度 -  現在   ：人工知能学会全国大会学生企画委員</li>
		  </ul>
		</p>
	      </div>
	      <br /><hr />

	      <div class="small-12 medium-12 column content-tree">
		<h2 style="font-family:arial unicode ms"><u>主な経歴（その他の活動）</u></h2>
		<p>
		  <ul>
		    <li>2015年 8月          ：本州四端踏破</li>
		    <li>2016年12月-   現在  ：関西Lispユーザ会設立・代表運営</li>
		    <li>2017年 5月-2019年3月：大阪府立大学 教育志向プログラミングサークル 設立・運営</li>
		  </ul>
		</p>
	      </div>
	      <br /><hr />

	      <div class="small-12 medium-12 column content-tree">
		<h2 style="font-family:arial unicode ms"><u>出版物（論文誌）</u></h2>
		<div class="wrapper row">
		  <div class="small-12 medium-12 column content-one">
		    <h1><u>{{ .Title }}</u></h1>
		    <div style="height:20px;"></div>
		    {{ $paginator := .Paginate (where .Data.Pages "Type" "papers" ) 5}}
		    <ul>
		      {{ range $paginator.Pages.ByDate.Reverse }}
		      <li>{{ .Params.paperauthors }}:{{ .Params.papertitle }}, {{ .Params.direction }}, pp.{{ .Params.pagefrom }}-pp.{{ .Params.pageend }}, ({{ .Params.year }}){{ with .Params.others }}, ({{ . }}){{ end }}</li>
		      {{end}}
		    </ul>
		  </div>
		  <div style="float:right">
		    {{ template "_internal/pagination.html" . }}
		  </div>
		  <div style="clear: both;"></div>
		  
		</div>
	      </div>
	      <br /><hr />
	  </section>
	  
	  {{ partial "footer.html" . }}
	  </div> {{ "<!-- End page content menu wrapper -->" | safeHTML }}
	  
	</div> {{ "<!-- End of global off canvas inner wrapper -->" | safeHTML }}
      </div> {{ "<!-- End of global off canvas wrapper -->" | safeHTML }}
      
      
      {{ "<!-- JS includes -->" | safeHTML }}
      
      <script src="{{ .Site.BaseURL }}js/jquery.js"></script>
      <script src="{{ .Site.BaseURL }}js/what-input.js"></script>
      <script src="{{ .Site.BaseURL }}js/foundation.js"></script>
      <script src="{{ .Site.BaseURL }}js/app.js"></script>
      
  </body>
</html>
